<div id="home">
  <div class="text">
    <div class="hello">
      <h1>Hello,</h1>
      <h1>I'm Fanny</h1>
    </div>
      <h2>A Full-Stack Web Developer</h2>
  </div>

  <div class="button-shadow">
    <%= link_to  'Enter', '/about', class: 'button-enter' %>
  </div>
  <div class="icons">
    <a href="mailto:fanny.jousset@gmail.com"><%= image_tag "message.png", class: "message" %></i></a>
    <a href="https://github.com/FnnyJsst"><%= image_tag "github-black.png", class: "github-black" %></i></a>
    <a href="https://www.linkedin.com/in/fanny-jousset/"><%= image_tag "linkedin.png", class: "linkedin" %></i></a>
    <a href="https://www.instagram.com/fnnyjsst/?hl=fr"><%= image_tag "ig.png", class: "insta" %></a>
  </div>
</div>
