<div id="portfolio">
  <h2>Portfolio</h2>
  <h3>TravelPals</h3>
  <%= image_tag "travelpals.jpg", class: "travelpals" %>
  <div class="buttons">
    <div class="button-code-shadow">
      <a href="https://github.com/FnnyJsst" class="button-code">
        <%= image_tag "github-button.png", class: "github-button" %>
        <span class="button-text">View Code</span>
      </a>
    </div>
    <div class="button-code-shadow">
      <a href="www.travelpals.me" class="button-code">
          <%= image_tag "view.png", class: "view" %>
          <span class="button-text">View Project</span>
      </a>
    </div>
  </div>
  <div class="description-stack">
    <h4>What is it?</h4>
    <p>TravelPals is an app realised in 9 days, designed to help
    solo travelers and digital nomads to meet travel buddies</p>
    <h4>Tech stack</h4>
  </div>
  <div class="stack">
    <%= image_tag "html.png", class: "html-stack" %>
    <%= image_tag "sass.png", class: "sass-stack" %>
    <%= image_tag "js.png", class: "js-stack" %>
    <%= image_tag "rails.png", class: "rails-stack" %>
  </div>
</div>
