<div id="skills">
  <h2>Skills</h2>
  <div class="row-skills-1">
    <%= image_tag "html.png", class: "html" %>
    <%= image_tag "css.png", class: "css" %>
    <%= image_tag "sass.png", class: "sass" %>
  </div>
  <div class="row-skills-2">
    <%= image_tag "js.png", class: "js" %>
    <%= image_tag "figma.png", class: "figma" %>
    <%= image_tag "ruby.png", class: "ruby" %>
  </div>
   <div class="row-skills-3">
    <%= image_tag "rails.png", class: "rails" %>
    <%= image_tag "git.png", class: "git" %>
    <%= image_tag "github.png", class: "github" %>
  </div>


</div>
